.popcorn-slideshow {
  height: 98%;
  position: relative !important;
  background-color: #00244a;
  display: inline-block !important;
  overflow: hidden !important;
  color: #DDDEE3;
  float: left !important;
}

.spacer {
  width: 1px !important;
  position: relative;
  display: inline-block !important;
  background-color: rgba(255,255,255, 0.9) !important;
  float: left !important;
}

.innerContainer {
  width: 100% !important;
}

.transcript {
  display: none;
  font-family: monospace, sans-serif;
}

.popcorn-transcript {
  width: 100%;
  border-radius: 5px;
  font-size: 2em;
  background-color: rgba(0,36,74, 0.4);
  overflow-y: auto;
}

.printable-slide {
  min-height: 400px;
  height: 100%;
  width: 49%;
  display: inline-block;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
}

.printable-transcript {
  width: 49%;
  float: right;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
}

.printable-container {
  width: 98%;
  float: left;
  padding: 1% 1% 0% 1%;
}

.printable-body {
  width: 100%;
  height: 100% !important;
  overflow: auto !important;
  padding: 0 0px;
}
