.popcorn-slideshow {
  height: 98%;
  position: relative;
  background-color: #00244a;
  display: inline-block;
  color: #DDDEE3;
  float: left;
}

.current-slide {
  background-color: #0055B0;
  z-index: 10;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.spacer {
  width: 1px;
  height: 1px;
  position: relative;
  display: inline-block;
  float: left;
}

.transcript {
  display: none;
  font-family: monospace, sans-serif;
}

.popcorn-transcript {
  width: 99.15%;
  border-radius: 5px;
  margin-top: 19px;
  font-size: 2em;
  background-color: rgba(0,36,74, 0.4);
  overflow-y: auto;
}
