.popcorn-slideshow {
  height: 98%;
  position: relative;
  background-color: #00244a;
  display: inline-block;
  color: #DDDEE3;
}

.deck-container {
  overflow-y:auto;
}

.current-slide {
  background-color: #0055B0;
  z-index: 10;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.spacer {
  width: 1px;
  height: 1px;
  position: relative;
  display: inline-block;
}

.transcript {
  display: none;
}

.popcorn-transcript {
  width: 100%;
  background-color: grey;
  overflow-y: auto;
}
