body {
	background: url(img/bg.jpg);
}

.jp-audio-container {
	width: 735px;
	margin: auto;
	background: url(img/player-bg.png) 0 0 no-repeat;
}

.jp-audio {
	margin: auto;
}

#credits {
	margin: 0;
	padding-top: 150px;
	color: #d2d6db;
	font-family: "Helvetica Neue", Georgia, Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

#credits a {
	color: #c0c8d6;
	text-decoration: none;
}

#credits a:hover {
	color: #a6b2c8;
}

